# WOE analysis

## On testing sample - match WOE values to categories cerated on intervals

### On testing dataset created from categorical columns and countinuous variable created by intervals

In [2]:
import pandas as pd

In [15]:
# read df from 1_5_3 script - 
df=pd.read_csv('../data/output/categorical_dfs/woe_auxiliary/testing_sample_categorical_1_5_3.csv')
columns_final_df = pd.read_csv('../data/output/categorical_dfs/columns_final_woe.csv')
df_woe_all = pd.read_csv('../data/output/categorical_dfs/df_woe_all.csv')
df.head()

,Var8_q,Var25_q,Var26_q,Var4,Var5,income,Var29,Var17_1,working_months_1,ii_ratio,idi_ratio,Var11,Var27,Var14,target,loan_desc,Var28,Var12,Var3
0,10.0,2.0,3.0,1.0,2,0,2,1,2,5,6,2,0,0,0.0,5,0,8.0,1.0
1,10.0,4.0,1.0,2.0,2,4,0,4,5,9,9,5,0,3,0.0,3,0,6.0,1.0
2,10.0,1.0,3.0,1.0,2,0,0,0,4,3,2,5,0,0,0.0,5,0,8.0,1.0
3,0.0,0.0,2.0,3.0,8,2,0,3,6,4,0,4,0,1,0.0,2,0,5.0,1.0
4,1.0,1.0,10.0,4.0,6,2,0,2,7,3,7,5,0,0,0.0,2,0,5.0,1.0

In [16]:
# change columns_final_df to list
columns_final_df = columns_final_df['0'].tolist()
columns_final_df

['Var11_woe',
 'Var12_woe',
 'Var14_woe',
 'Var17_1_woe',
 'Var25_q_woe',
 'Var26_q_woe',
 'Var27_woe',
 'Var28_woe',
 'Var29_woe',
 'Var3_woe',
 'Var4_woe',
 'Var5_woe',
 'Var8_q_woe',
 'idi_ratio_woe',
 'ii_ratio_woe',
 'income_woe',
 'loan_desc_woe',
 'target',
 'working_months_1_woe']

In [17]:
# delete sufix '_woe' from columns_final_df if the name is different than 'target'
columns_final_df_without_suffix = [x[:-4] if x.endswith('_woe') and x != 'target' else x for x in columns_final_df]
columns_final_df_without_suffix

['Var11',
 'Var12',
 'Var14',
 'Var17_1',
 'Var25_q',
 'Var26_q',
 'Var27',
 'Var28',
 'Var29',
 'Var3',
 'Var4',
 'Var5',
 'Var8_q',
 'idi_ratio',
 'ii_ratio',
 'income',
 'loan_desc',
 'target',
 'working_months_1']

In [18]:
df

,Var8_q,Var25_q,Var26_q,Var4,Var5,income,Var29,Var17_1,working_months_1,ii_ratio,idi_ratio,Var11,Var27,Var14,target,loan_desc,Var28,Var12,Var3
0,10.0,2.0,3.0,1.0,2,0,2,1,2,5,6,2,0,0,0.0,5,0,8.0,1.0
1,10.0,4.0,1.0,2.0,2,4,0,4,5,9,9,5,0,3,0.0,3,0,6.0,1.0
2,10.0,1.0,3.0,1.0,2,0,0,0,4,3,2,5,0,0,0.0,5,0,8.0,1.0
3,0.0,0.0,2.0,3.0,8,2,0,3,6,4,0,4,0,1,0.0,2,0,5.0,1.0
4,1.0,1.0,10.0,4.0,6,2,0,2,7,3,7,5,0,0,0.0,2,0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3541,7.0,2.0,9.0,8.0,2,8,0,9,6,7,7,5,0,3,0.0,1,0,8.0,1.0
3542,10.0,10.0,10.0,7.0,3,8,0,8,7,5,3,6,0,3,0.0,3,0,8.0,2.0
3543,10.0,9.0,8.0,8.0,5,4,0,4,0,7,6,5,0,0,0.0,3,0,8.0,1.0
3544,7.0,4.0,8.0,9.0,6,9,0,9,3,2,6,5,0,0,0.0,1,0,5.0,1.0
3545,10.0,6.0,10.0,2.0,0,6,0,4,6,6,3,6,0,0,0.0,5,0,8.0,3.0

In [19]:
df = df[columns_final_df_without_suffix]

In [20]:
df

,Var11,Var12,Var14,Var17_1,Var25_q,Var26_q,Var27,Var28,Var29,Var3,Var4,Var5,Var8_q,idi_ratio,ii_ratio,income,loan_desc,target,working_months_1
0,2,8.0,0,1,2.0,3.0,0,0,2,1.0,1.0,2,10.0,6,5,0,5,0.0,2
1,5,6.0,3,4,4.0,1.0,0,0,0,1.0,2.0,2,10.0,9,9,4,3,0.0,5
2,5,8.0,0,0,1.0,3.0,0,0,0,1.0,1.0,2,10.0,2,3,0,5,0.0,4
3,4,5.0,1,3,0.0,2.0,0,0,0,1.0,3.0,8,0.0,0,4,2,2,0.0,6
4,5,5.0,0,2,1.0,10.0,0,0,0,1.0,4.0,6,1.0,7,3,2,2,0.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3541,5,8.0,3,9,2.0,9.0,0,0,0,1.0,8.0,2,7.0,7,7,8,1,0.0,6
3542,6,8.0,3,8,10.0,10.0,0,0,0,2.0,7.0,3,10.0,3,5,8,3,0.0,7
3543,5,8.0,0,4,9.0,8.0,0,0,0,1.0,8.0,5,10.0,6,7,4,3,0.0,0
3544,5,5.0,0,9,4.0,8.0,0,0,0,1.0,9.0,6,7.0,6,2,9,1,0.0,3
3545,6,8.0,0,4,6.0,10.0,0,0,0,3.0,2.0,0,10.0,3,6,6,5,0.0,6

In [21]:
df_woe_all

,variable,category,target,non_target,total_target,total_non_target,woe,iv
0,MOB,0.0,126.0,3741.0,1101.0,34599.0,0.944802,-0.005968
1,MOB,1.0,96.0,3252.0,1101.0,34599.0,1.077961,0.007328
2,MOB,2.0,127.0,3439.0,1101.0,34599.0,0.861692,-0.013747
3,MOB,3.0,102.0,3577.0,1101.0,34599.0,1.115944,0.011987
4,MOB,4.0,99.0,3479.0,1101.0,34599.0,1.118261,0.011891
...,...,...,...,...,...,...,...,...
201,idi_ratio,5.0,79.0,3491.0,1101.0,34599.0,1.406198,0.040985
202,idi_ratio,6.0,98.0,3472.0,1101.0,34599.0,1.127398,0.012784
203,idi_ratio,7.0,113.0,3457.0,1101.0,34599.0,0.973520,-0.002646
204,idi_ratio,8.0,102.0,3468.0,1101.0,34599.0,1.081939,0.008213
205,idi_ratio,9.0,92.0,3478.0,1101.0,34599.0,1.203000,0.020406

In [22]:
columns_to_iterate = columns_final_df_without_suffix.copy()
columns_to_iterate.remove('target')

In [23]:
# Add new column with WOE values to df from df_woe_all
for col in columns_to_iterate:
    df_woe2 = df_woe_all[df_woe_all['variable'] == col]
    df_woe2 = df_woe2[['category', 'woe']]
    df = df.merge(df_woe2, how='left', left_on=col, right_on='category')
    df = df.rename(columns = {'woe': col + '_woe'})
    df = df.drop(columns=['category'])

In [24]:
df

,Var11,Var12,Var14,Var17_1,Var25_q,Var26_q,Var27,Var28,Var29,Var3,...,Var29_woe,Var3_woe,Var4_woe,Var5_woe,Var8_q_woe,idi_ratio_woe,ii_ratio_woe,income_woe,loan_desc_woe,working_months_1_woe
0,2,8.0,0,1,2.0,3.0,0,0,2,1.0,...,0.418940,1.113386,0.759744,0.976883,0.924555,1.127398,1.071126,0.521328,0.734276,0.954368
1,5,6.0,3,4,4.0,1.0,0,0,0,1.0,...,1.137729,1.113386,0.725036,0.976883,0.924555,1.203000,0.535878,0.933527,1.700695,1.084999
2,5,8.0,0,0,1.0,3.0,0,0,0,1.0,...,1.137729,1.113386,0.759744,0.976883,0.924555,1.524392,1.318708,0.521328,0.734276,0.980167
3,4,5.0,1,3,0.0,2.0,0,0,0,1.0,...,1.137729,1.113386,1.181805,1.279466,1.034545,0.373905,1.176727,1.101032,1.045280,1.231394
4,5,5.0,0,2,1.0,10.0,0,0,0,1.0,...,1.137729,1.113386,1.087242,1.031474,0.816227,0.973520,1.318708,1.101032,1.045280,1.204093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3541,5,8.0,3,9,2.0,9.0,0,0,0,1.0,...,1.137729,1.113386,1.170370,0.976883,1.125601,0.973520,1.231256,1.119868,1.142420,1.231394
3542,6,8.0,3,8,10.0,10.0,0,0,0,2.0,...,1.137729,1.003114,1.165680,0.879304,0.924555,1.273966,1.071126,1.119868,1.700695,1.204093
3543,5,8.0,0,4,9.0,8.0,0,0,0,1.0,...,1.137729,1.113386,1.170370,1.069700,0.924555,1.127398,1.231256,0.933527,1.700695,0.495594
3544,5,5.0,0,9,4.0,8.0,0,0,0,1.0,...,1.137729,1.113386,1.272869,1.031474,1.125601,1.127398,0.993067,1.451238,1.142420,1.232054
3545,6,8.0,0,4,6.0,10.0,0,0,0,3.0,...,1.137729,0.731900,0.725036,0.769025,0.924555,1.273966,0.982496,0.936468,0.734276,1.231394

In [25]:
df = df[columns_final_df]

In [27]:
df.shape

(3546, 19)

In [28]:
# save final df with WOE values
df.to_csv('../data/output/categorical_dfs/testing_sample_woe_after_right_filling.csv', index = False)